alter procedure spMFA010Global @Acao int,
							   @MFACODEMP char(2), @MFADOC varchar(9), @MFASERIE varchar(3), @MFACLIENTE varchar(6), @MFALOJA varchar(2), 
							   @MFASEQUENCIA int, @MFACOND varchar(3), @MFAEMISSAO datetime, @MFAEST varchar(2), @MFAFRETE float, 
							   @MFATIPOCLI varchar(1), @MFAVALBRUT float, @MFAVALMERC float, @MFATIPO varchar(1), @MFAESPECI1 varchar(10), 
							   @MFAESPECI2 varchar(10), @MFAVOLUME1 float, @MFAPLIQUI float, @MFAPBRUTO float, @MFATRANSP varchar(6), 
							   @MFADTLANC datetime, @MFADTBASE0 smalldatetime, @MFADTBASE1 smalldatetime, @MFAFILIAL varchar(2), @MFAVALFAT float, 
							   @MFAPREFIXO varchar(3), @MFAMOEDA float, @MFADTENTR datetime, @MFAREGISTRO int, 
							   @MFANFEEMISE smalldatetime, @MFACODSTAT int, @MFACODMORE int, @MFADTENSAI datetime, @MFATIFRETE char(1), 
							   @MFADTDIGIT datetime, @MFAVALTOT float, @MFAVALLIQUI float, @MFAINDFINAL int, @MFAIDDEST int, 
							   @MFAINDPRES int, @MFACHAVEREFNFE varchar(100), @MFAFINNFE int, @MFANOMECONSUMIDOR varchar(100), @MFACPFCONSUMIDOR varchar(14),
							   @MFACODSITT nvarchar(60), @MFANFCUPOM BIGINT, @MFAOBSNOTA nvarchar(MAX), @MFAVALIMP5 float, @MFAVALIMP6 float, 
							   @MFATIPOREM varchar(1), @MFACHAVENFE varchar(100), @MFACODPROT varchar(50), @MFANFECNF varchar(15),
							   @vFCPST float, @vFCPSTRet float

as  BEGIN
	if (@Acao = 1) begin
		BEGIN TRANSACTION
			INSERT INTO MFA010 (MFACODEMP,MFADOC,MFASERIE,MFACLIENTE,MFALOJA,
								MFASEQUENCIA,MFACOND,MFAEMISSAO,MFAEST,MFAFRETE,
								MFATIPOCLI,MFAVALBRUT,MFAVALMERC,MFATIPO,MFAESPECI1,
								MFAESPECI2,MFAVOLUME1,MFAPLIQUI,MFAPBRUTO,MFATRANSP,
								MFADTLANC,MFADTBASE0,MFADTBASE1,MFAFILIAL,MFAVALFAT,
								MFAPREFIXO,MFAMOEDA,MFADTENTR,MFAREGISTRO,
								MFANFEEMISE,MFACODSTAT,MFACODMORE,MFADTENSAI,MFATIFRETE,
								MFADTDIGIT,MFAVALTOT,MFAVALLIQUI,MFAINDFINAL,MFAIDDEST,
								MFAINDPRES,MFACHAVEREFNFE,MFAFINNFE,MFANOMECONSUMIDOR,MFACPFCONSUMIDOR,
								MFACODSITT,MFANFCUPOM,MFAOBSNOTA,MFAVALIMP5,MFAVALIMP6,MFATIPOREM,
								MFACHAVENFE,MFACODPROT,MFANFECNF,vFCPST,vFCPSTRet)
					   Values (@MFACODEMP,@MFADOC,@MFASERIE,@MFACLIENTE,@MFALOJA,
							   @MFASEQUENCIA,@MFACOND,@MFAEMISSAO,@MFAEST,@MFAFRETE,
							   @MFATIPOCLI,@MFAVALBRUT,@MFAVALMERC,@MFATIPO,@MFAESPECI1,
							   @MFAESPECI2,@MFAVOLUME1,@MFAPLIQUI,@MFAPBRUTO,@MFATRANSP,
							   @MFADTLANC,@MFADTBASE0,@MFADTBASE1,@MFAFILIAL,@MFAVALFAT,
							   @MFAPREFIXO,@MFAMOEDA,@MFADTENTR,@MFAREGISTRO,
							   @MFANFEEMISE,@MFACODSTAT,@MFACODMORE,@MFADTENSAI,@MFATIFRETE,
							   @MFADTDIGIT,@MFAVALTOT,@MFAVALLIQUI,@MFAINDFINAL,@MFAIDDEST,
							   @MFAINDPRES,@MFACHAVEREFNFE,@MFAFINNFE,@MFANOMECONSUMIDOR,@MFACPFCONSUMIDOR,
							   @MFACODSITT,@MFANFCUPOM,@MFAOBSNOTA,@MFAVALIMP5,@MFAVALIMP6,@MFATIPOREM,
							   @MFACHAVENFE,@MFACODPROT,@MFANFECNF,@vFCPST,@vFCPSTRet)

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 2) begin        
		BEGIN TRANSACTION
			update MFA010 SET MFACODEMP=@MFACODEMP,MFADOC=@MFADOC,MFASERIE=@MFASERIE,MFACLIENTE=@MFACLIENTE,
							  MFALOJA=@MFALOJA,MFASEQUENCIA=@MFASEQUENCIA,MFACOND=@MFACOND,
							  MFAEMISSAO=@MFAEMISSAO,MFAEST=@MFAEST,MFAFRETE=@MFAFRETE,
							  MFATIPOCLI=@MFATIPOCLI,MFAVALBRUT=@MFAVALBRUT,
							  MFAVALMERC=@MFAVALMERC,MFATIPO=@MFATIPO,MFAESPECI1=@MFAESPECI1,MFAESPECI2=@MFAESPECI2,
							  MFAVOLUME1=@MFAVOLUME1,MFAPLIQUI=@MFAPLIQUI,MFAPBRUTO=@MFAPBRUTO,
							  MFATRANSP=@MFATRANSP,MFADTLANC=@MFADTLANC,MFADTBASE0=@MFADTBASE0,
							  MFADTBASE1=@MFADTBASE1,MFAFILIAL=@MFAFILIAL,MFAVALFAT=@MFAVALFAT,
							  MFAPREFIXO=@MFAPREFIXO,MFAMOEDA=@MFAMOEDA,MFADTENTR=@MFADTENTR,
							  MFAREGISTRO=@MFAREGISTRO,MFANFEEMISE=@MFANFEEMISE,MFACODSTAT=@MFACODSTAT,MFACODMORE=@MFACODMORE,
							  MFADTENSAI=@MFADTENSAI,MFATIFRETE=@MFATIFRETE,MFADTDIGIT=@MFADTDIGIT,MFAVALTOT=@MFAVALTOT,
							  MFAVALLIQUI=@MFAVALLIQUI,MFAINDFINAL=@MFAINDFINAL,MFAIDDEST=@MFAIDDEST,
							  MFAINDPRES=@MFAINDPRES,MFACHAVEREFNFE=@MFACHAVEREFNFE,MFAFINNFE=@MFAFINNFE,
							  MFANOMECONSUMIDOR=@MFANOMECONSUMIDOR,MFACPFCONSUMIDOR=@MFACPFCONSUMIDOR,
							  MFACODSITT=@MFACODSITT,MFANFCUPOM=@MFANFCUPOM,MFAOBSNOTA=@MFAOBSNOTA,
							  MFAVALIMP5=@MFAVALIMP5,MFAVALIMP6=@MFAVALIMP6,MFATIPOREM=@MFATIPOREM,
							  MFANFECNF=@MFANFECNF,vFCPST=@vFCPST,vFCPSTRet=@vFCPSTRet
			where MFASEQUENCIA = @MFASEQUENCIA

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 3) begin        
		BEGIN TRANSACTION
			delete from MFA010 where MFASEQUENCIA = @MFASEQUENCIA

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	begin raiserror('Erro, não executado, spMFA010Global',14,1)     
	End  
End