alter procedure spMFI010Global @Acao int,
								@MFIFILIAL varchar(2), @MFIITEM int, @MFICOD varchar(15),
								@MFIUM varchar(6), @MFIQUANT float, @MFIPRCVEN float,
								@MFITOTAL float, @MFIVALIPI float, @MFIVALICM float,
								@MFITES varchar(3), @MFICF varchar(10), @MFIDESC float,
								@MFIIPI float, @MFIPICM float, @MFIPESO float,
								@MFICLIENTE varchar(6), @MFILOJA varchar(2),
								@MFILOCAL varchar(2), @MFIDOC bigint, @MFIEMISSAO datetime,
								@MFIGRUPO varchar(4), @MFITP varchar(2), @MFISERIE varchar(3),
								@MFIEST varchar(2), @MFIDESCON float,
								@MFITIPO varchar(1), @MFIQTDEDEV float, @MFIVALDEV float,
								@MFIORIGLAN varchar(2), @MFIDTLCTCT datetime, @MFICLASFIS int,
								@MFIQTDEFAT float, @MFIQTDAFAT float, @MFISEQUEN bigint,
								@MFINFORI varchar(1), @MFISITRIB int,
								@MFIPESLIQ float, @MFIPESBRU float, @MFIVALLIQ float,
 							    @MFIDESTOTIT float, @MFIALIICMS float, @MFIBASICMST float,
								@MFIALIICMST float, @MFIVALICMST float, @MFIALIICMRED float,
							    @MFIVALBRUT float, @MFIVALBONI float, @MFIVALTROCA float,
								@MFIQTDVOL float, @vBCFCPSTRet float, @pFCPSTRet float,
								@vFCPSTRet float, @MFICEAN varchar(50), @MFICEANTRIB varchar(50),
								@MFIBASEICM float, 
								@PISCST nvarchar(3), @COFINSCST nvarchar(3),
								@PISVBC float, @PISPPIS float, @PISVPIS float,
								@COFINSVBC float, @COFINSPCOFINS float, @COFINSVCOFINS float,
								@PisqBCProd float, @PisvAliqProd float, @COFINSqBCProd float, @COFINSvAliqProd float
								
AS BEGIN
	if (@Acao = 1) begin
		BEGIN TRANSACTION

			declare @MFIREGISTRO int

			SET @MFIREGISTRO = (select max(MFIREGISTRO) from MFI010) + 1

			IF @MFIREGISTRO IS NULL 
				SET @MFIREGISTRO = 1
			IF @MFIREGISTRO <= 0 
				SET @MFIREGISTRO = 1

			INSERT INTO MFI010 (MFIFILIAL,MFIITEM,MFICOD,
								MFIUM,MFIQUANT,MFIPRCVEN,
								MFITOTAL,MFIVALIPI,MFIVALICM,
								MFITES,MFICF,MFIDESC,
								MFIIPI,MFIPICM,MFIPESO,
								MFICLIENTE,MFILOJA,
								MFILOCAL,MFIDOC,MFIEMISSAO,
								MFIGRUPO,MFITP,MFISERIE,
								MFIEST,MFIDESCON,
								MFITIPO,MFIQTDEDEV,MFIVALDEV,
								MFIORIGLAN,MFIDTLCTCT,MFICLASFIS,
								MFIQTDEFAT,MFIQTDAFAT,MFISEQUEN,
								MFINFORI,MFIREGISTRO,MFISITRIB,
								MFIPESLIQ,MFIPESBRU,MFIVALLIQ,
								MFIDESTOTIT,MFIALIICMS,MFIBASICMST,
								MFIALIICMST,MFIVALICMST,MFIALIICMRED,
								MFIVALBRUT,MFIVALBONI,MFIVALTROCA,
								MFIQTDVOL,vBCFCPSTRet,pFCPSTRet,
								vFCPSTRet,MFICEAN,MFICEANTRIB,
								MFIBASEICM,
								PISCST,COFINSCST,
								PISVBC,PISPPIS,PISVPIS,
								COFINSVBC,COFINSPCOFINS,COFINSVCOFINS,
								PisqBCProd,PisvAliqProd,COFINSqBCProd,COFINSvAliqProd)
					   Values (@MFIFILIAL,@MFIITEM,@MFICOD,
								@MFIUM,@MFIQUANT,@MFIPRCVEN,
								@MFITOTAL,@MFIVALIPI,@MFIVALICM,
								@MFITES,@MFICF,@MFIDESC,
								@MFIIPI,@MFIPICM,@MFIPESO,
								@MFICLIENTE,@MFILOJA,
								@MFILOCAL,@MFIDOC,@MFIEMISSAO,
								@MFIGRUPO,@MFITP,@MFISERIE,
								@MFIEST,@MFIDESCON,
								@MFITIPO,@MFIQTDEDEV,@MFIVALDEV,
								@MFIORIGLAN,@MFIDTLCTCT,@MFICLASFIS,
								@MFIQTDEFAT,@MFIQTDAFAT,@MFISEQUEN,
								@MFINFORI,@MFIREGISTRO,@MFISITRIB,
								@MFIPESLIQ,@MFIPESBRU,@MFIVALLIQ,
								@MFIDESTOTIT,@MFIALIICMS,@MFIBASICMST,
								@MFIALIICMST,@MFIVALICMST,@MFIALIICMRED,
								@MFIVALBRUT,@MFIVALBONI,@MFIVALTROCA,
								@MFIQTDVOL,@vBCFCPSTRet,@pFCPSTRet,
								@vFCPSTRet,@MFICEAN,@MFICEANTRIB,
								@MFIBASEICM,
								@PISCST,@COFINSCST,
								@PISVBC,@PISPPIS,@PISVPIS,
								@COFINSVBC,@COFINSPCOFINS,@COFINSVCOFINS,
								@PisqBCProd,@PisvAliqProd,@COFINSqBCProd,@COFINSvAliqProd)

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 2) begin        
		BEGIN TRANSACTION
			update MFI010 SET MFIFILIAL=@MFIFILIAL,MFIITEM=@MFIITEM,MFICOD=@MFICOD,
								MFIUM=@MFIUM,MFIQUANT=@MFIQUANT,MFIPRCVEN=@MFIPRCVEN,
								MFITOTAL=@MFITOTAL,MFIVALIPI=@MFIVALIPI,MFIVALICM=@MFIVALICM,
								MFITES=@MFITES,MFICF=@MFICF,MFIDESC=@MFIDESC,
								MFIIPI=@MFIIPI,MFIPICM=@MFIPICM,MFIPESO=@MFIPESO,
								MFICLIENTE=@MFICLIENTE,MFILOJA=@MFILOJA,
								MFILOCAL=@MFILOCAL,MFIEMISSAO=@MFIEMISSAO,
								MFIGRUPO=@MFIGRUPO,MFITP=@MFITP,MFISERIE=@MFISERIE,
								MFIEST=@MFIEST,MFIDESCON=@MFIDESCON,
								MFITIPO=@MFITIPO,MFIQTDEDEV=@MFIQTDEDEV,MFIVALDEV=@MFIVALDEV,
								MFIORIGLAN=@MFIORIGLAN,MFIDTLCTCT=@MFIDTLCTCT,MFICLASFIS=@MFICLASFIS,
								MFIQTDEFAT=@MFIQTDEFAT,MFIQTDAFAT=@MFIQTDAFAT,
								MFINFORI=@MFINFORI,MFISITRIB=@MFISITRIB,
								MFIPESLIQ=@MFIPESLIQ,MFIPESBRU=@MFIPESBRU,MFIVALLIQ=@MFIVALLIQ,
								MFIDESTOTIT=@MFIDESTOTIT,MFIALIICMS=@MFIALIICMS,MFIBASICMST=@MFIBASICMST,
								MFIALIICMST=@MFIALIICMST,MFIVALICMST=@MFIVALICMST,MFIALIICMRED=@MFIALIICMRED,
								MFIVALBRUT=@MFIVALBRUT,MFIVALBONI=@MFIVALBONI,MFIVALTROCA=@MFIVALTROCA,
								MFIQTDVOL=@MFIQTDVOL,vBCFCPSTRet=@vBCFCPSTRet,pFCPSTRet=@pFCPSTRet,
								vFCPSTRet=@vFCPSTRet,MFICEAN=@MFICEAN,MFICEANTRIB=@MFICEANTRIB,
								MFIBASEICM=@MFIBASEICM,
								PISCST=@PISCST,COFINSCST=@COFINSCST,
								PISVBC=@PISVBC,PISPPIS=@PISPPIS,PISVPIS=@PISVPIS,
								COFINSVBC=@COFINSVBC,COFINSPCOFINS=@COFINSPCOFINS,COFINSVCOFINS=@COFINSVCOFINS,
								PisqBCProd=@PisqBCProd,PisvAliqProd=@PisvAliqProd,COFINSqBCProd=@COFINSqBCProd,COFINSvAliqProd=@COFINSvAliqProd
			where MFISEQUEN = @MFISEQUEN


		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 3) begin        
		BEGIN TRANSACTION
			delete from MFI010 where MFISEQUEN = @MFISEQUEN

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	begin raiserror('Erro, não executado, spMFI010Global',14,1)     
	End  
End