alter procedure spSE1010Global @Acao int, 
								@E1_PREFIXO varchar(3), @E1_NUM varchar(6), @E1_PARCELA varchar(3), @E1_TIPO varchar(3), @E1_CLIENTE varchar(6),
								@E1_LOJA varchar(2), @E1_NOMCLI varchar(60), @E1_EMISSAO datetime, @E1_VENCTO datetime, @E1_VENCREA datetime,
								@E1_VALOR float, @E1_BAIXA datetime, @E1_DATABOR datetime, @E1_LA varchar(1), @E1_MOVIMEN datetime, @E1_SITUACA varchar(1),
								@E1_SALDO float, @E1_DESCONT float, @E1_VALLIQ float, @E1_VENCORI datetime, @E1_VLCRUZ float, @E1_NUMNOTA varchar(9),
								@E1_SERIE varchar(3), @E1_STATUS varchar(1), @E1_FLUXO varchar(1), @E1_CARTAO varchar(16), 
								@E1_DTACRED datetime, @E1_NUMCRD varchar(20), @E1_FLAG varchar(1), @E1_CARTAUT varchar(6), @E1_FILIAL varchar(2), 
								@E1_OCORREN varchar(2), @E1_MULTNAT varchar(1), @E1_PROJPMS varchar(1), @E1_DESDOBR varchar(1), @E1_MODSPB varchar(1)
as  BEGIN
	if (@Acao = 1) begin
		BEGIN TRANSACTION
			DECLARE @R_E_C_N_O_ int

			SET @R_E_C_N_O_ = (select max(R_E_C_N_O_) from SE1010) + 1

			IF @R_E_C_N_O_ IS NULL 
				SET @R_E_C_N_O_ = 1
			IF @R_E_C_N_O_ <= 0 
				SET @R_E_C_N_O_ = 1

			INSERT INTO SE1010 (E1_PREFIXO,E1_NUM,E1_PARCELA,E1_TIPO,E1_CLIENTE,E1_LOJA,E1_NOMCLI,E1_EMISSAO,E1_VENCTO,E1_VENCREA,E1_VALOR,E1_BAIXA,E1_DATABOR,
								E1_LA,E1_MOVIMEN,E1_SITUACA,E1_SALDO,E1_DESCONT,E1_VALLIQ,E1_VENCORI,E1_VLCRUZ,E1_NUMNOTA,E1_SERIE,E1_STATUS,E1_FLUXO,E1_CARTAO,
								R_E_C_N_O_,E1_DTACRED,E1_NUMCRD,E1_FLAG,E1_CARTAUT,E1_FILIAL,E1_OCORREN,E1_MULTNAT,E1_PROJPMS,E1_DESDOBR,E1_MODSPB)
			Values (@E1_PREFIXO,@E1_NUM,@E1_PARCELA,@E1_TIPO,@E1_CLIENTE,@E1_LOJA,@E1_NOMCLI,@E1_EMISSAO,@E1_VENCTO,@E1_VENCREA,@E1_VALOR,@E1_BAIXA,@E1_DATABOR,
					@E1_LA,@E1_MOVIMEN,@E1_SITUACA,@E1_SALDO,@E1_DESCONT,@E1_VALLIQ,@E1_VENCORI,@E1_VLCRUZ,@E1_NUMNOTA,@E1_SERIE,@E1_STATUS,@E1_FLUXO,@E1_CARTAO,
					@R_E_C_N_O_,@E1_DTACRED,@E1_NUMCRD,@E1_FLAG,@E1_CARTAUT,@E1_FILIAL,@E1_OCORREN,@E1_MULTNAT,@E1_PROJPMS,@E1_DESDOBR,@E1_MODSPB)

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 2) begin        
		BEGIN TRANSACTION
			update SE1010 SET E1_PREFIXO=@E1_PREFIXO,E1_NUM=@E1_NUM,E1_PARCELA=@E1_PARCELA,E1_TIPO=@E1_TIPO,E1_CLIENTE=@E1_CLIENTE,E1_LOJA=@E1_LOJA,
							  E1_NOMCLI=@E1_NOMCLI,E1_EMISSAO=@E1_EMISSAO,E1_VENCTO=@E1_VENCTO,E1_VENCREA=@E1_VENCREA,E1_VALOR=@E1_VALOR,E1_BAIXA=@E1_BAIXA,
							  E1_DATABOR=@E1_DATABOR,E1_LA=@E1_LA,E1_MOVIMEN=@E1_MOVIMEN,E1_SITUACA=@E1_SITUACA,E1_SALDO=@E1_SALDO,E1_DESCONT=@E1_DESCONT,
							  E1_VALLIQ=@E1_VALLIQ,E1_VENCORI=@E1_VENCORI,E1_VLCRUZ=@E1_VLCRUZ,E1_NUMNOTA=@E1_NUMNOTA,E1_SERIE=@E1_SERIE,E1_STATUS=@E1_STATUS,
							  E1_FLUXO=@E1_FLUXO,E1_CARTAO=@E1_CARTAO,E1_DTACRED=@E1_DTACRED,E1_NUMCRD=@E1_NUMCRD,E1_FLAG=@E1_FLAG,
							  E1_CARTAUT=@E1_CARTAUT,E1_FILIAL=@E1_FILIAL,E1_OCORREN=@E1_OCORREN,E1_MULTNAT=@E1_MULTNAT,E1_PROJPMS=@E1_PROJPMS,
							  E1_DESDOBR=@E1_DESDOBR,E1_MODSPB=@E1_MODSPB
			where E1_NUMNOTA = @E1_NUMNOTA
			  and E1_PARCELA = @E1_PARCELA
			  and E1_PREFIXO = @E1_PREFIXO

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 3) begin        
		BEGIN TRANSACTION
			delete from SE1010	where E1_NUMNOTA = @E1_NUMNOTA
								and E1_PARCELA = @E1_PARCELA
								and E1_PREFIXO = @E1_PREFIXO

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	begin raiserror('Erro, não executado, spSE1010Global',14,1)     
	End  
End