ALTER procedure spPedido @Acao int, @PEDIDO_ID bigint, @CLIENTE_ID bigint, @EMPRESA_ID int, @ESTABELECIMENTO_ID int, @CARTAOBARRA_ID bigint, @VENDEDOR_ID bigint
								   , @NUMERO_CAIXA_CPU int, @CGCCPF nvarchar(14), @USUARIO_ID int, @DT_REQ datetime
								   , @STATUS int, @TIPO_REGISTRO nvarchar(2), @USUARIO_LIBERA_VENDA int, @VALOR_DESCONTO float, @PERC_DESC float
								   , @NOME_CLIENTE nvarchar(100), @VALOR_RECEBIDO float, @VALOR_TOTAL float, @PREFIXO nvarchar(3)
as  begin     
	if (@Acao = 1) begin
		BEGIN TRANSACTION

			INSERT INTO PEDIDO (PEDIDO_ID,CLIENTE_ID,EMPRESA_ID,ESTABELECIMENTO_ID,CARTAOBARRA_ID,VENDEDOR_ID,
								NUMERO_CAIXA_CPU,CGCCPF,USUARIO_ID,DT_REQ,
								STATUS,TIPO_REGISTRO,USUARIO_LIBERA_VENDA,VALOR_DESCONTO,PERC_DESC,
								NOME_CLIENTE,VALOR_RECEBIDO,VALOR_TOTAL,PREFIXO)
			Values (@PEDIDO_ID,@CLIENTE_ID,@EMPRESA_ID,@ESTABELECIMENTO_ID,@CARTAOBARRA_ID,@VENDEDOR_ID,
					@NUMERO_CAIXA_CPU,@CGCCPF,@USUARIO_ID,@DT_REQ,
					@STATUS,@TIPO_REGISTRO,@USUARIO_LIBERA_VENDA,@VALOR_DESCONTO,@PERC_DESC,
					@NOME_CLIENTE,@VALOR_RECEBIDO,@VALOR_TOTAL,@PREFIXO)

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 2) begin        
		BEGIN TRANSACTION
			update PEDIDO SET VENDEDOR_ID=@VENDEDOR_ID,NUMERO_CAIXA_CPU=@NUMERO_CAIXA_CPU,CGCCPF=@CGCCPF,USUARIO_ID=@USUARIO_ID,
							  DT_REQ=@DT_REQ,STATUS=@STATUS,TIPO_REGISTRO=@TIPO_REGISTRO,USUARIO_LIBERA_VENDA=@USUARIO_LIBERA_VENDA,
							  VALOR_DESCONTO=@VALOR_DESCONTO,PERC_DESC=@PERC_DESC,NOME_CLIENTE=@NOME_CLIENTE,
							  VALOR_RECEBIDO=@VALOR_RECEBIDO,VALOR_TOTAL=@VALOR_TOTAL,PREFIXO=@PREFIXO
			where PEDIDO_ID = @PEDIDO_ID

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	else if (@Acao = 3) begin        
		BEGIN TRANSACTION
			delete from PEDIDO where PEDIDO_ID = @PEDIDO_ID

		IF @@ERROR <> 0 
		   ROLLBACK 
		   ELSE
		      COMMIT
	End     
	begin raiserror('Erro, não executado, spPedido',14,1)     
	End  
End 